@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: #CDEDF6;
  float: left;
}
header{
  background-color: #EF7B45;
}
#main1{
  background-color: #D84727;
  width: 500px;
  float: left;
}
#main2{
  background-color: #5EB1BF;
  width: 400px;
  float: right;
}
aside{
  background-color: #042A2B;
  width: 200px;
  float: left;
}
footer{
  background-color: white;
  clear: both;
}
