@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: #CDEDF6;
}
header{
  background-color: #EF7B45;
}
#main1{
  background-color: #D84727;
}
#main2{
  background-color: #5EB1BF;
}
aside{
  background-color: #042A2B;
}
footer{
  background-color: white;
}
